
@model Web.Models.ChangePasswordViewModel

<style>
    #change-pass-modal {
        z-index: 1061;
    }
</style>


<div class="modal" id="change-pass-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title">Update User</h4>
            </div>

            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { area = "portal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.UserId)
                <div class="modal-body mb-0 row">

                    <div class="col-md-12">

                        <div class="form-group row">
                            <label class="col-lg-5 col-md-5 col-sm-12 col-form-label">New Password</label>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(a => a.NewPassword)
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-5 col-md-5 col-sm-12 col-form-label">Confirm Password</label>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                @Html.PasswordFor(a => a.ConfirmNewPassword, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(a => a.ConfirmNewPassword)
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <a href="javascript:;" type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>

            }
        </div>
    </div>
</div>
