
@model IEnumerable<Dto.Dto.InventoryDetailsDto>

@{
    ViewBag.Title = "Inventories";
}

<style>
    .dataTables_wrapper {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pt-4 pb-4">
                <h3 class="card-title">
                    Items
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Add", "Inventory", new {area = "portal"})">
                                <i class="fa fa-plus"></i> Add New
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <table id="data-table" class="table table-sm table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Set Code</th>
                            <th>Set Name</th>
                            <th>Rarity</th>
                            <th>Condition</th>
                            <th>Foil Type</th>
                            <th>Currency</th>
                            <th>Price</th>
                            <th>Available</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.SetCode</td>
                                    <td>@item.SetName</td>
                                    <td>@item.Rarity</td>
                                    <td>@item.Condition</td>
                                    <td>@item.FoilType</td>
                                    <td>@item.PurchaseCurrency</td>
                                    <td>@item.Price.ToString("n2")</td>
                                    <td>@item.Count.ToString("n0")</td>
                                    <td style="text-align: center;">
                                        <a href="@Url.Action("Update", "Inventory", new {area = "portal", id = item.Id})" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Details", "Inventory", new {area = "portal", id = item.Id})" class="btn btn-sm btn-secondary ml-2"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div><!-- /.card-body -->
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var accountTable = $('#data-table').DataTable({
                "processing": true,
                //"serverSide": true,
                "stateSave": true,
                "searching": true,
                //"bLengthChange": false,
                "responsive": true,
                "autoWidth": true,
                "paging": true,
                buttons: [],
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, 'All']]
            });

        });
    </script>
}