<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainphase Hobbies | @ViewBag.Title</title>

    <link href="~/favicon.ico" rel="icon">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="~/Content/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/Content/mamba_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/mamba_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/mamba_assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/mamba_assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/mamba_assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/assets/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />

    <link href="~/Content/mamba_assets/css/main.css" rel="stylesheet">
    <link href="~/Content/assets/css/Custom.css" rel="stylesheet" />
    <link href="~/Content/assets/css/adminlte.css" rel="stylesheet" />

    <style>
        .field-validation-error {
            color: red;
        }

        .preloader {
            background-color: black !important;
            opacity: 0.6 !important;
            z-index: 1060 !important;
        }

            .preloader .spinner {
                /*display: none;*/
                width: 35px;
                height: 35px;
                margin-left: 8px;
                border: 2px solid #ccc;
                border-top: 2px solid #333;
                border-radius: 50%;
                animation: spin 0.8s linear infinite;
                vertical-align: middle;
            }

        @@keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body class="index-page" onbeforeunload="ShowLoading();" onload="HideLoading();">

    @Html.Partial("_Header_Mamba")

    <main class="main" style="min-height: 30vh;">@RenderBody()</main>

    @Html.Partial("_Footer_Mamba")

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <span id="spinner" class="spinner"></span>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <!-- Vendor JS Files -->
    <script src="~/Content/mamba_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Content/mamba_assets/vendor/aos/aos.js"></script>
    <script src="~/Content/mamba_assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/mamba_assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/mamba_assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/mamba_assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/mamba_assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Scripts/modal-extender.js"></script>
    <script src="~/Scripts/Cart.js"></script>

    <!-- Main JS File -->
    <script src="~/Content/mamba_assets/js/main.js"></script>

    @RenderSection("scripts", required: false)
    @Html.Partial("_ModalMessage")
    @Html.Partial("_ModalConfirm", new Dto.ConfirmDto())

    <script>
        function ShowLoading() {
            $('.preloader').css({ height: '100vh' });
            $('.preloader').find('#spinner').show();
        }

        function HideLoading() {
            $('.preloader').css({ height: '0' });
            $('.preloader').find('#spinner').hide();
        }

        $(document).ready(function () {

            LoadCartCount();


        });

    </script>
</body>
</html>
